In [ ]:
!pip install -U dataligo

In [1]:
from dataligo import Ligo

In [2]:
# path of config file. see the sample config for reference (https://github.com/VinishUchiha/dataligo/blob/main/sample_ligo_config.yaml)
config_path = 'path_of_ligo_config_file'

# Create ligo object
ligo = Ligo(config_path)

In [3]:
ligo

In [4]:
# Create the s3 ligo object
s3 = ligo.connect('s3')

# Pandas DataFrame
By default, dataligo return_type is pandas

### Read

In [9]:
# Read a dataframe using s3_path
df = s3.read_as_dataframe('s3://dcx-test/folder1/data.csv')
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5,NaN
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,NaN
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0,NaN
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0,NaN
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5,NaN

In [10]:
# Read a dataframe using bucket and key
df = s3.read_as_dataframe(bucket='dcx-test',key='folder1/data.csv')
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5,NaN
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,NaN
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0,NaN
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0,NaN
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5,NaN

In [7]:
# Read dataframe with additional pandas arguments
df = s3.read_as_dataframe('s3://dcx-test/folder1/data.csv', pandas_args={'encoding':'latin-1','encoding_errors':'ignore'})
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5,NaN
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,NaN
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0,NaN
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0,NaN
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5,NaN

### Write

In [8]:
# Write a dataframe
s3.write_dataframe(df, bucket='dcx-test',key='test_write/data.csv')

Dataframe saved to the s3 path: s3://dcx-test/test_write/data.csv

In [9]:
# Write a dataframe with additional arguments
s3.write_dataframe(df, bucket='dcx-test',key='test_write/data.csv',index=False,sep=',')

Dataframe saved to the s3 path: s3://dcx-test/test_write/data.csv

In [10]:
# Write a dataframe in other extensions
s3.write_dataframe(df, bucket='dcx-test',key='test_write/data.parquet')
s3.write_dataframe(df, bucket='dcx-test',key='test_write/data.xlsx')
s3.write_dataframe(df, bucket='dcx-test',key='test_write/data.json')

Dataframe saved to the s3 path: s3://dcx-test/test_write/data.parquet
Dataframe saved to the s3 path: s3://dcx-test/test_write/data.xlsx
Dataframe saved to the s3 path: s3://dcx-test/test_write/data.json

# Polars DataFrame

### Read

In [11]:
# Read a dataframe using s3_path
df = s3.read_as_dataframe('s3://dcx-test/folder1/data.csv', return_type='polars')
df.head()

shape: (5, 19)
┌──────────┬────────────┬────────────┬────────────┬───┬────────────┬────────────┬────────────┬───────────┐
│ VendorID ┆ tpep_picku ┆ tpep_dropo ┆ passenger_ ┆ … ┆ improvemen ┆ total_amou ┆ congestion ┆ airport_f │
│ ---      ┆ p_datetime ┆ ff_datetim ┆ count      ┆   ┆ t_surcharg ┆ nt         ┆ _surcharge ┆ ee        │
│ i64      ┆ ---        ┆ e          ┆ ---        ┆   ┆ e          ┆ ---        ┆ ---        ┆ ---       │
│          ┆ str        ┆ ---        ┆ f64        ┆   ┆ ---        ┆ f64        ┆ f64        ┆ str       │
│          ┆            ┆ str        ┆            ┆   ┆ f64        ┆            ┆            ┆           │
╞══════════╪════════════╪════════════╪════════════╪═══╪════════════╪════════════╪════════════╪═══════════╡
│ 1        ┆ 2021-01-01 ┆ 2021-01-01 ┆ 1.0        ┆ … ┆ 0.3        ┆ 11.8       ┆ 2.5        ┆ null      │
│          ┆ 00:30:10   ┆ 00:36:12   ┆            ┆   ┆            ┆            ┆            ┆           │
│ 1        ┆ 2021-01-01 ┆ 2021-01-01 ┆ 1.0        ┆ … ┆ 0.3        ┆ 4.3        ┆ 0.0        ┆ null      │
│          ┆ 00:51:20   ┆ 00:52:19   ┆            ┆   ┆            ┆            ┆            ┆           │
│ 1        ┆ 2021-01-01 ┆ 2021-01-01 ┆ 1.0        ┆ … ┆ 0.3        ┆ 51.95      ┆ 0.0        ┆ null      │
│          ┆ 00:43:30   ┆ 01:11:06   ┆            ┆   ┆            ┆            ┆            ┆           │
│ 1        ┆ 2021-01-01 ┆ 2021-01-01 ┆ 0.0        ┆ … ┆ 0.3        ┆ 36.35      ┆ 0.0        ┆ null      │
│          ┆ 00:15:48   ┆ 00:31:01   ┆            ┆   ┆            ┆            ┆            ┆           │
│ 2        ┆ 2021-01-01 ┆ 2021-01-01 ┆ 1.0        ┆ … ┆ 0.3        ┆ 24.36      ┆ 2.5        ┆ null      │
│          ┆ 00:31:49   ┆ 00:48:21   ┆            ┆   ┆            ┆            ┆            ┆           │
└──────────┴────────────┴────────────┴────────────┴───┴────────────┴────────────┴────────────┴───────────┘

In [12]:
# Read a dataframe using bucket and key
df = s3.read_as_dataframe(bucket='dcx-test',key='folder1/data.csv', return_type='polars')
df.head()

shape: (5, 19)
┌──────────┬────────────┬────────────┬────────────┬───┬────────────┬────────────┬────────────┬───────────┐
│ VendorID ┆ tpep_picku ┆ tpep_dropo ┆ passenger_ ┆ … ┆ improvemen ┆ total_amou ┆ congestion ┆ airport_f │
│ ---      ┆ p_datetime ┆ ff_datetim ┆ count      ┆   ┆ t_surcharg ┆ nt         ┆ _surcharge ┆ ee        │
│ i64      ┆ ---        ┆ e          ┆ ---        ┆   ┆ e          ┆ ---        ┆ ---        ┆ ---       │
│          ┆ str        ┆ ---        ┆ f64        ┆   ┆ ---        ┆ f64        ┆ f64        ┆ str       │
│          ┆            ┆ str        ┆            ┆   ┆ f64        ┆            ┆            ┆           │
╞══════════╪════════════╪════════════╪════════════╪═══╪════════════╪════════════╪════════════╪═══════════╡
│ 1        ┆ 2021-01-01 ┆ 2021-01-01 ┆ 1.0        ┆ … ┆ 0.3        ┆ 11.8       ┆ 2.5        ┆ null      │
│          ┆ 00:30:10   ┆ 00:36:12   ┆            ┆   ┆            ┆            ┆            ┆           │
│ 1        ┆ 2021-01-01 ┆ 2021-01-01 ┆ 1.0        ┆ … ┆ 0.3        ┆ 4.3        ┆ 0.0        ┆ null      │
│          ┆ 00:51:20   ┆ 00:52:19   ┆            ┆   ┆            ┆            ┆            ┆           │
│ 1        ┆ 2021-01-01 ┆ 2021-01-01 ┆ 1.0        ┆ … ┆ 0.3        ┆ 51.95      ┆ 0.0        ┆ null      │
│          ┆ 00:43:30   ┆ 01:11:06   ┆            ┆   ┆            ┆            ┆            ┆           │
│ 1        ┆ 2021-01-01 ┆ 2021-01-01 ┆ 0.0        ┆ … ┆ 0.3        ┆ 36.35      ┆ 0.0        ┆ null      │
│          ┆ 00:15:48   ┆ 00:31:01   ┆            ┆   ┆            ┆            ┆            ┆           │
│ 2        ┆ 2021-01-01 ┆ 2021-01-01 ┆ 1.0        ┆ … ┆ 0.3        ┆ 24.36      ┆ 2.5        ┆ null      │
│          ┆ 00:31:49   ┆ 00:48:21   ┆            ┆   ┆            ┆            ┆            ┆           │
└──────────┴────────────┴────────────┴────────────┴───┴────────────┴────────────┴────────────┴───────────┘

In [14]:
# Read dataframe with additional polars arguments
df = s3.read_as_dataframe('s3://dcx-test/folder1/data.csv', return_type='polars', polars_args={'encoding':'latin-1','ignore_errors':True})
df.head()

shape: (5, 19)
┌──────────┬────────────┬────────────┬────────────┬───┬────────────┬────────────┬────────────┬───────────┐
│ VendorID ┆ tpep_picku ┆ tpep_dropo ┆ passenger_ ┆ … ┆ improvemen ┆ total_amou ┆ congestion ┆ airport_f │
│ ---      ┆ p_datetime ┆ ff_datetim ┆ count      ┆   ┆ t_surcharg ┆ nt         ┆ _surcharge ┆ ee        │
│ i64      ┆ ---        ┆ e          ┆ ---        ┆   ┆ e          ┆ ---        ┆ ---        ┆ ---       │
│          ┆ str        ┆ ---        ┆ f64        ┆   ┆ ---        ┆ f64        ┆ f64        ┆ str       │
│          ┆            ┆ str        ┆            ┆   ┆ f64        ┆            ┆            ┆           │
╞══════════╪════════════╪════════════╪════════════╪═══╪════════════╪════════════╪════════════╪═══════════╡
│ 1        ┆ 2021-01-01 ┆ 2021-01-01 ┆ 1.0        ┆ … ┆ 0.3        ┆ 11.8       ┆ 2.5        ┆ null      │
│          ┆ 00:30:10   ┆ 00:36:12   ┆            ┆   ┆            ┆            ┆            ┆           │
│ 1        ┆ 2021-01-01 ┆ 2021-01-01 ┆ 1.0        ┆ … ┆ 0.3        ┆ 4.3        ┆ 0.0        ┆ null      │
│          ┆ 00:51:20   ┆ 00:52:19   ┆            ┆   ┆            ┆            ┆            ┆           │
│ 1        ┆ 2021-01-01 ┆ 2021-01-01 ┆ 1.0        ┆ … ┆ 0.3        ┆ 51.95      ┆ 0.0        ┆ null      │
│          ┆ 00:43:30   ┆ 01:11:06   ┆            ┆   ┆            ┆            ┆            ┆           │
│ 1        ┆ 2021-01-01 ┆ 2021-01-01 ┆ 0.0        ┆ … ┆ 0.3        ┆ 36.35      ┆ 0.0        ┆ null      │
│          ┆ 00:15:48   ┆ 00:31:01   ┆            ┆   ┆            ┆            ┆            ┆           │
│ 2        ┆ 2021-01-01 ┆ 2021-01-01 ┆ 1.0        ┆ … ┆ 0.3        ┆ 24.36      ┆ 2.5        ┆ null      │
│          ┆ 00:31:49   ┆ 00:48:21   ┆            ┆   ┆            ┆            ┆            ┆           │
└──────────┴────────────┴────────────┴────────────┴───┴────────────┴────────────┴────────────┴───────────┘

### Write

In [15]:
# Write a dataframe
s3.write_dataframe(df, bucket='dcx-test',key='test_write/data.csv')

Dataframe saved to the s3 path: s3://dcx-test/test_write/data.csv

In [17]:
# Write a dataframe with additional arguments
s3.write_dataframe(df, bucket='dcx-test',key='test_write/data.csv')

Dataframe saved to the s3 path: s3://dcx-test/test_write/data.csv

In [18]:
# Write a dataframe in other extensions
s3.write_dataframe(df, bucket='dcx-test',key='test_write/data.parquet')
s3.write_dataframe(df, bucket='dcx-test',key='test_write/data.xlsx')
s3.write_dataframe(df, bucket='dcx-test',key='test_write/data.json')

Dataframe saved to the s3 path: s3://dcx-test/test_write/data.parquet
Dataframe saved to the s3 path: s3://dcx-test/test_write/data.xlsx
Dataframe saved to the s3 path: s3://dcx-test/test_write/data.json